{{#d-modal-body title="votecount.modal.title"}}
  {{{ vcHtml }}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary" label="votecount.modal.votesView" action=(action "setVotesView")}}
  {{d-button class="btn-primary" label="votecount.modal.classicView" action=(action "setClassicView")}}
</div>
