{{#d-modal-body rawTitle=(concat title post_number)}}
  {{{ vcHtml }}}
{{/d-modal-body}}

<div class="modal-footer">
  {{#unless showingVotesView }}
    {{d-button class="btn-primary" label="votecount.modal.votesView" action=(action "setVotesView")}}
  {{/unless}}
  {{#unless showingClassicView }}
    {{d-button class="btn-primary" label="votecount.modal.classicView" action=(action "setClassicView")}}
  {{/unless}}
  {{d-modal-cancel close=(route-action "closeModal")}}
</div>
